In [8]:
import numpy as np
import pandas as pd
from sklearn.manifold import TSNE

In [2]:
image_array = np.load("../data/image_cluster/image.npy")

In [3]:
image_array.shape

(140000, 784)

In [5]:
test_case_df = pd.read_csv("../data/image_cluster/test_case.csv", header=0)

In [7]:
test_case_df

              ID  image1_index  image2_index
0              0         17874         20452
1              1         19897        107188
2              2         68922         34890
3              3         36315         96063
4              4         62858         20570
5              5         34857        103021
6              6         95637         11993
7              7         42482        127374
8              8         64230         13878
9              9         20777         80492
10            10         74558         15315
11            11         11761        109393
12            12         53550        118766
13            13         37756         59298
14            14         82624         49316
15            15          3201        109547
16            16         53359        109705
17            17         46248         67774
18            18         56236          3535
19            19         41362        109531
20            20        106344         27340
21            21          8786         74083
22            22        102707         22440
23            23        139186        117310
24            24         64173         42414
25            25        119527         77181
26            26          4794         85606
27            27         99575        134902
28            28         12388         14257
29            29        101815         14789
...          ...           ...           ...
1979970  1979970         88917         54923
1979971  1979971         17255         39687
1979972  1979972         40558        130058
1979973  1979973        122565         69795
1979974  1979974        111438         33710
1979975  1979975        123365         64211
1979976  1979976        100247        135563
1979977  1979977         54586         32794
1979978  1979978         86711         31744
1979979  1979979        102828         52385
1979980  1979980         28286        125953
1979981  1979981        113543        117324
1979982  1979982        137823         54198
1979983  1979983         35017         92540
1979984  1979984         18679         10866
1979985  1979985        119892         13060
1979986  1979986         19143         72120
1979987  1979987        128448         45835
1979988  1979988          9146        115406
1979989  1979989         98330         64464
1979990  1979990         52250         44431
1979991  1979991         35252         68470
1979992  1979992        112398          5423
1979993  1979993         57849        116982
1979994  1979994         98437         17541
1979995  1979995         23684         45214
1979996  1979996         90533         12904
1979997  1979997          9419         98930
1979998  1979998         29299         85395
1979999  1979999        123461         70734

[1980000 rows x 3 columns]